file-drop.drop-valid {
  background-color: green;
}

file-drop.drop-invalid {
  background-color: red;
}

.bg-orange {
  background-color: #fbe9e76b;
}

.img-object-fit {
  object-fit: contain;
  height: 20vh;
  cursor: pointer;
}

.custom-position {

  position: absolute;
  bottom: 1rem;
}
