<div class="container p-0" > 
    <div class="row  mb-5  w-100">
        <div class="col-8 p-0">
            <h2 >Log In / Sign Up</h2>
         </div>
        <div class="col-4 p-0 ">
            <button (click)="close()" class="float-right" mat-icon-button><mat-icon style="color: #fff;" class="mb-2"  matSuffix>clear</mat-icon></button>
        </div>
    </div>


    <div class="row align-items-center m-0  w-100">
        <button class="loginBtn loginBtn--facebook " (click)= "logInWithFacebook()">Log In With Facebook</button>
        <button class="loginBtn loginBtn--google " (click)= "logInWithgoogle()">Log In with google</button>
    </div>
    
</div>





