<div class="container p-0">

  <div class="row align-items-center m-0  w-100">
  </div>

</div>


<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
  <span>Log In / Sign Up</span>
  <button [mat-dialog-close]="'cancel'" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="d-flex flex-column">

</mat-dialog-content>
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div> -->
