<div class="landing-container" [class.mobile-view]="mobileQuery.matches">

  <dahab-landing-toolbar (toggleSideNav)="snav.toggle()"></dahab-landing-toolbar>
  <mat-sidenav-container class="landing-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 4">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <span>some content here</span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="d-flex justify-content-center align-items-center">
      <h2 class="text-secondary">Stay tuned...</h2>
      <button aria-labelledby="signIn" mat-flat-button color="accent" [routerLink]="['restrict']"
        routerLinkActive="router-link-active">
        <span id="signIn">Sign in</span>
      </button>
      <pre>
      </pre>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
