<div class="landing-container"
     [class.mobile-view]="mobileQuery.matches">

  <dahab-landing-toolbar (toggleSideNav)="snav.toggle()"></dahab-landing-toolbar>
  <mat-sidenav-container class="landing-sidenav-container">

    <mat-sidenav #snav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>
        <span>some content here</span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="mh-100">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
