<mat-progress-bar *ngIf="this.wizard.loading else hostWizard" mode="indeterminate"></mat-progress-bar>
<ng-template #hostWizard>
  <section class="container-fullscreen d-flex  justify-content-between align-items-start">
    <div class="d-flex flex-column flex-grow-1 align-items-center mw-custom">

      <mat-progress-bar mode="determinate" [value]="this.wizard?.progress"></mat-progress-bar>

      <dahab-toolbar-logo class="mt-5 mb-3" [size]="'4rem'"></dahab-toolbar-logo>
      <h4 class="text-muted mb-5">Sign up as a Host </h4>
      <mat-vertical-stepper [selectedIndex]="this.wizard.currentStep" linear #stepper>
        <mat-step [completed]="this.wizard.currentStep >0" editable=false>
          <ng-template matStepLabel>Create an account</ng-template>
          <div class="pt-4 d-flex flex-column">
            <button aria-label="signIn with Facebook" mat-raised-button
              class="btn-social-login text-center my-3 py-3 px-5" (click)="logInWithFacebook()">
              <img height="25rem"
                src="https://upload.wikimedia.org/wikipedia/commons/8/87/Facebook_Logo_%282015%29_light.svg"
                alt="facebook logo">
            </button>
            <button aria-label="signIn with Google" class="btn-social-login my-3 text-center py-3 px-5"
              mat-raised-button (click)="logInWithgoogle()">
              <img class="img-fluid" height="25rem"
                src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_148x48px.svg" alt="">
            </button>
          </div>
          <div *ngIf="(this.auth$ | async).authenticating" class="loading-shade">
            <mat-spinner></mat-spinner>
          </div>
        </mat-step>
        <mat-step [completed]="this.wizard.currentStep >1" editable=false>
          <ng-template matStepLabel>Update your information</ng-template>
          <dahab-user-info></dahab-user-info>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>What's Next</ng-template>

          <div class="pt-4 container-fluid text-center">
            <img width="80px" class="img-fluid" src="assets/celebration.svg" alt="">
            <h4 class="my-3">You are now ready to List your place</h4>
            <button class="my-3" mat-raised-button color="accent" [routerLink]="['/restrict']">Add your first
              place</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <img class="d-none d-md-block h-100 img-fluid" src="assets/desert-camel.jpg" alt="">

  </section>
</ng-template>
