<mat-nav-list class="h-100 d-flex flex-column">
  <a class="nav-btn my-2" aria-labelledby="my-places" mat-button color="primary" [routerLink]="['my-places']"
    routerLinkActive="router-link-active">
    <mat-icon class="mr-3">house</mat-icon>
    <span id="my-places">My places</span>
  </a>
  <div class="flex-grow-1"></div>
  <a class="nav-btn my-2" aria-labelledby="my-places" mat-stroked-button color="accent" [routerLink]="['/landing']"
    routerLinkActive="router-link-active">
    <mat-icon class="mr-3">arrow_back</mat-icon>
    <span id="my-places">Exit to Webstie</span>
  </a>
</mat-nav-list>
