<div class="restrict-container" [class.mobile-view]="mobileQuery.matches">

  <dahab-restrict-toolbar (toggleSideNav)="snav.toggle()"></dahab-restrict-toolbar>

  <mat-sidenav-container class="restrict-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <span>some content here</span>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <p>body goes here</p>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
