<dahab-places-filter class="d-none d-md-block"></dahab-places-filter>
<section *ngIf="true && (this.places$ | async)  | places: (this.placesFilter|async) as filteredPlaces">
  <section class="container-fluid mh-100">
    <div class="row">

      <article id="placesList"
               class="places-list-container col-md-12 col-lg-7 col-xl-6">
        <div [@listAnimation]="filteredPlaces?.length">
          <div *ngFor="let place of filteredPlaces; trackBy:trackPlaceByFn"
               class="mb-3">
            <dahab-place-card (clicked)="openPlace(place)"
                              [place]="place"></dahab-place-card>
          </div>
        </div>

        <div @fadeAnimation
             *ngIf="filteredPlaces?.length === 0">
          <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <img class="mt-5"
                 height="200px"
                 src="assets/sad-cat.png"
                 alt="sad cat img">
            <p class="my-3 text-muted">Meeeow... but you can donate me at <a href="https://animal-welfare-dahab.com/"
                 target="_blank">Animal Welfare Dahab
              </a>
            </p>
          </div>
        </div>
      </article>
      <article class=" flex-grow-1 p-0 mat-elevation-z8">
        <agm-map panControl="true"
                 zoomControl=true
                 rotateControl=true
                 mapTypeControl=true
                 fullscreenControl=true
                 [disableDefaultUI]="true"
                 [styles]="this.mapConfigurations.style"
                 [clickableIcons]="false"
                 [mapTypeId]="'satellite'"
                 [zoom]="15"
                 [latitude]="this.mapConfigurations.latitude"
                 [longitude]="this.mapConfigurations.longitude">
          <agm-marker *ngFor="let place of filteredPlaces"
                      (markerClick)="currentPlace = place.id"
                      [markerClickable]="true"
                      [iconUrl]="place.goodDeal?'assets/here.svg': null"
                      [latitude]="place.location?.latitude"
                      [longitude]="place.location?.longitude">
            <agm-info-window [isOpen]="currentPlace === place.id">
              <dahab-place-card (clicked)="openPlace(place)"
                                [place]="place"></dahab-place-card>
            </agm-info-window>
          </agm-marker>

        </agm-map>
      </article>
    </div>
  </section>
  <button type="button"
          (click)="openFilter()"
          class="d-sm-block d-md-none float-bottom z-i-100"
          aria-label="Add place"
          mat-fab
          color="accent">
    <mat-icon>filter_list</mat-icon>
  </button>

</section>
