.responsive-hight {
  height: calc(100vh - 56px);

  @media (min-width: 768px) {
    height: calc(100vh - 128px);

  }
}


agm-map {
  @extend .responsive-hight !optional;
  width: 50vw;
  position: fixed;
}

.places-list-container {
  @extend .responsive-hight !optional;
  overflow-y: auto;
}
