.responsive-hight {
  height: calc(100vh - 56px);

  @media (min-width: 768px) {
    height: calc(100vh - 145px);
  }
}


agm-map {
  @extend .responsive-hight !optional;
  width: auto;
  // position: fixed;
}

.places-list-container {
  @extend .responsive-hight !optional;
  overflow-y: auto;
}

.z-i-100 {
  z-index: 100;
}
