<mat-toolbar class="landing-toolbar mat-elevation-z1">
  <button class="d-block d-lg-none" mat-icon-button (click)="this.toggleSideNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="d-flex align-items-center">
    <h1 class="mx-3">Dahab Guide</h1>
    <img src="assets/logo.png" class="" height="50px" alt="palm trees">
  </div>
  <div class="flex-grow-1"></div>

  <button *ngIf="userService.user | async;else login" mat-raised-button (click)="signOut()" color="accent">Log Out
  </button>

  <ng-template #login>
    <button mat-raised-button (click)="openAuthModal()" color="accent">Login | Sign up
    </button>
  </ng-template >

</mat-toolbar>
