<mat-toolbar class="bg-transparent">
  <a color="accent"
     [routerLink]="['/landing']">
    <dahab-toolbar-logo></dahab-toolbar-logo>
  </a>


  <div class="flex-grow-1"></div>

  <a [hidden]="(this.auth$ | async).authenticating || this.user.loading || this.IsHost"
     class="mr-2"
     aria-labelledby="sign_up_as_host"
     mat-button
     color="accent"
     [routerLink]="['/become-host']"
     routerLinkActive="router-link-active">
    <span id="sign_up_as_host">Become a host</span>
  </a>
  <section *ngIf="(this.auth$ | async).authenticated; else login">
    <a *ngIf="this.IsHost"
       class="mr-2"
       aria-labelledby="my_account"
       mat-stroked-button
       color="accent"
       [routerLink]="['/restrict']"
       routerLinkActive="router-link-active">
      <span id="my_account">Host Console</span>
    </a>
    <a class="profile-img cursor-pointer"
       [mat-menu-trigger-for]="userMenu">
      <img [src]="this.user.photoURL"
           width="30"
           height="30"
           alt="user photo"
           class="rounded-circle mat-elevation-z8">
    </a>

    <mat-menu #userMenu="matMenu">
      <div class="container d-flex overflow-hidden">
        <img *ngIf="user.loading"
             mat-card-avatar
             height="45"
             [src]="user.photoURL"
             alt="user photo"
             class="rounded-circle mat-elevation-z8 mt-1">

        <div class="pl-2">
          <span class="text-capitalize">
            {{user.displayName}}</span>
          <p class="text-muted">{{user.email}}</p>
        </div>
      </div>
      <button aria-labelledby="signoutBtn"
              mat-menu-item
              (click)="this.signOut()">
        <mat-icon> exit_to_app </mat-icon>
        <span id="signoutBtn">Sign Out</span>
      </button>
    </mat-menu>
  </section>

  <ng-template #login>
    <mat-spinner *ngIf="((this.auth$|async).authenticating || this.user.loading) else loginBtn"
                 diameter="25">
    </mat-spinner>
    <ng-template #loginBtn>
      <button aria-labelledby="signIn"
              mat-raised-button
              [matMenuTriggerFor]="loginMenu">
        <span id="signIn">Sign in</span>
      </button>
    </ng-template>
    <mat-menu #loginMenu="matMenu">
      <button aria-label="Sign in with facebook"
              mat-menu-item
              class="text-center"
              (click)="logInWithFacebook()">
        <img width="100px"
             src="assets/social/facebook.svg"
             alt="facebook logo">
      </button>
      <button aria-label="Sign in with google"
              class="text-center"
              mat-menu-item
              (click)="logInWithgoogle()">
        <img width="100px"
             src="assets/social/google.svg"
             alt="facebook logo">
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
