@import "src/sass/variables";

.mobile-view .landing-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

@import "src/sass/bootstrap";
@import "src/sass/variables";

.facebook {
  background: #4C69BA !important;
  color: white;

  &.mat-menu-item:hover {
    background: rgb(98, 136, 240) !important;
    color: white;

  }
}

.google {
  background: #DD4B39 !important;
  color: white;

  &.google.mat-menu-item:hover {
    background: rgb(224, 113, 98) !important;
    color: white;
  }
}
