@import "src/sass/variables";

.mobile-view .landing-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

@import "src/sass/bootstrap";
@import "src/sass/variables";



#withFacebook {
  content: url(https://upload.wikimedia.org/wikipedia/commons/8/87/Facebook_Logo_%282015%29_light.svg);
  display: inline-block;
}

#withGoogle {
  content: url(https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg);
  display: inline-block;
}
