<div class="container-fluid my-4 h-100">

  <div *ngIf="(this.isLoading$|async) else loaded" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>


  <ng-template #loaded>
    <section class="container-fluid" *ngIf="(this.myPlaces$|async)?.length > 0 else noPropertiesFound">
      <div class="row">
        <div class="col-md-12  col-lg-6 my-2" *ngFor="let place of this.myPlaces$ | async">
          <dahab-place-card [place]="place" (clicked)="editPlace(place)"> </dahab-place-card>
        </div>
      </div>

      <a aria-label="Add place" [routerLink]="['add-place']" class="float-bottom" mat-fab color="accent">
        <mat-icon>add</mat-icon>
      </a>
    </section>

    <ng-template #noPropertiesFound>

      <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <dahab-nice-image class="my-3" size="6rem" icon="cactus"></dahab-nice-image>
        <p class="my-3">You have not added any properties yet</p>
        <a class="my-3" aria-labelledby="addNewPlaceBtn" mat-raised-button color="accent" [routerLink]="['add-place']">
          <mat-icon class="mr-3">add</mat-icon>
          <span id="addNewPlaceBtn">Add Place</span>
        </a>
      </div>
    </ng-template>
  </ng-template>

</div>
