<section class="filter-container sticky-top bg-transperant">

  <form class="d-flex align-items-center justify-content-center up-little-bit" [formGroup]="this.filterFormGroup">
    <mat-form-field floatLabel="never" class="col-sm-6 col-md-auto">
      <mat-label id="placeTypeId">
        <div class="d-flex justify-content-between">
          <span>Any Place Type</span>
          <mat-spinner color="accent" *ngIf="(this.resources$|async)?.loading" diameter="20"></mat-spinner>
        </div>
      </mat-label>
      <mat-select aria-labelledby="placeTypeId" #typesCtrl formControlName="types" multiple>
        <mat-option *ngFor="let place of (this.resources$|async)?.placesTypes | places:{canBeBooked:true }"
          [value]="place.id">
          {{place.name_en}}
        </mat-option>
        <dahab-mat-select-extension [selectCtrl]="typesCtrl" (done)="typesCtrl.close()"></dahab-mat-select-extension>
      </mat-select>
    </mat-form-field>

    <mat-checkbox #longTermCtrl (change)="onLongTermChange($event)" class="col-auto" color="primary"
      formControlName="longTermOnly">
      <span class="text-muted">Long Term Only</span>
    </mat-checkbox>

    <mat-form-field floatLabel="never" class="col-auto">
      <input [matDatepickerFilter]="this.bookingMinion.dateFilter" formControlName="date" autocomplete="off"
        (click)="picker.open()" matInput [placeholder]="longTermCtrl.checked ? 'Check in Date': 'Check in - Check out'"
        [satDatepicker]="picker">
      <sat-datepicker #picker [rangeMode]="this.longTermCtrl.checked? false: true">
      </sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <div class="d-flex flex-column pt-4 col-md-3 col-xl-2">
      <mat-label class="text-muted position-absolute pl-2">
        Budget:
        <strong class="h6"> {{this.maxPriceCtrl.value ? (this.maxPriceCtrl.value | currency) : 'Any' }} </strong>
        {{this.longTermCtrl.checked? '/Month': '/Night'}}
      </mat-label>
      <mat-slider #maxPriceCtrl formControlName="budget" [displayWith]="formatLabel"
        [min]="this.longTermCtrl.checked ? 500: 1" [max]="this.longTermCtrl.checked ? 10000: 200">
      </mat-slider>
    </div>

    <button type="button" (click)="resetFilter()" class="col-auto" mat-button>
      Reset
    </button>

    <!-- extra filter elements -->
    <ng-template>
      <div class="col-auto ">
        <dahab-select-number [initialValue]="1" [label]="'Guests'" [controlFormName]="'adultGuests'"
          [formGroup]="this.filterFormGroup">
        </dahab-select-number>
      </div>
      <div class="col-auto">
        <dahab-select-number [initialValue]="0" [label]="'Minimum Bedrooms'" [controlFormName]="'bedrooms'"
          [formGroup]="this.filterFormGroup">
        </dahab-select-number>
      </div>
    </ng-template>




  </form>
</section>
