<form class="d-flex flex-column" (ngSubmit)="book(this.addBookingForm.value)" [formGroup]="this.addBookingForm">

  <mat-radio-group formControlName="rentalType" class="d-flex flex-column my-2" aria-label="Select rental type">
    <mat-radio-button class="my-2" [value]="this.rentalTypes.shortTerm">Short Term</mat-radio-button>
    <mat-radio-button class="my-2" [value]="this.rentalTypes.longTerm">Long Term</mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="my-2">
    <input formControlName="fromDate" [min]="this.today" matInput [matDatepicker]="fromDatePicker"
      placeholder="Check-in Date" (click)="fromDatePicker.open()" autocomplete="off" required>
    <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #fromDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field [hidden]="addBookingForm.controls['rentalType'].value === rentalTypes.longTerm" class="my-2">
    <input formControlName="toDate" matInput [matDatepicker]="toDatePicker" placeholder="Checkout Date"
      (click)="toDatePicker.open()" autocomplete="off" [min]="addBookingForm.controls['fromDate'].value"
      [required]="addBookingForm.controls['rentalType'].value === rentalTypes.shortTerm">
    <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #toDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="my-2" [hidden]="addBookingForm.controls['rentalType'].value === rentalTypes.shortTerm">
    <mat-label>How long is your stay?</mat-label>
    <mat-select formControlName="stayPeriod"
      [required]="addBookingForm.controls['rentalType'].value === rentalTypes.longTerm">
      <mat-option value="1:3">
        1 to 3 months
      </mat-option>
      <mat-option value="3:6">
        3 to 6 months
      </mat-option>
      <mat-option value="6:12">
        6 to 12 months
      </mat-option>

      <mat-option value=">12">
        More than a year
      </mat-option>
      <mat-option value="na">
        I'm not sure
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-raised-button [disabled]="this.addBookingForm.invalid" color="accent">Reserve</button>


</form>

<div *ngIf="(this.currentBooking$|async)?.saving" class="loading-shade">
  <mat-spinner></mat-spinner>
</div>
