<section class="w-100 mb-large">

  <dahab-place-images [photosUrl]="this.place?.photos"></dahab-place-images>
  <div class="container mt-3 mb-5">
    <div class="row justify-content-around">

      <div class="col-xs-12 col-md-8 col-lg d-flex flex-column">


        <div class="flex-grow-1 d-flex flex-column">
          <h4 class="my-3 pl-2">
            {{this.placeTypeName}}
          </h4>

          <div class="d-flex flex-column pl-2">
            <p class="price"
               *ngIf="this.place?.price?.longTerm">
              {{place?.price.perMonth  | number   }} <span class="text-muted small-text">$/Month</span>
            </p>
            <p class="price"
               *ngIf="this.place?.price?.shortTerm">
              {{place?.price.perNight  | number }} <span class="text-muted small-text">$/Night</span>
            </p>
          </div>
          <p class="small-text h-auto my-1 pl-2">
            {{place?.layout.bedrooms}} {{(place?.layout.bedrooms> 1)? 'Bedrooms':'Bedroom'}} .
            <!-- {{place?.layout.beds}} {{(place?.layout.beds> 1)? 'Beds':'Bed'}} . -->
            {{place?.layout.bathrooms}} {{(place?.layout.bathrooms> 1)? 'Bathrooms':'Bathroom'}}
            {{place?.layout.privateGarden? '. Private Garden':null}}
          </p>

          <p *ngFor="let amen of this.placeAmenities"
             class="d-flex align-items-center my-1">
            <mat-icon class="text-muted m-2 small-icon">
              {{amen.icon}}</mat-icon>
            {{amen.name_en}}
          </p>
          <div class="flex-grow-1">
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-lg my-3">
        <dahab-place-location class="d-none d-md-block h-100"
                              [placeLocation]="this.place?.location">
        </dahab-place-location>
        <a class="d-block d-md-none"
           target="_blank"
           href="http://maps.google.com/?q={{this.place?.location.latitude}},{{this.place?.location.longitude}}"
           mat-raised-button>
          <mat-icon>room</mat-icon> Show Location
        </a>
      </div>
      <div class="col-xs-12 col-md-8 col-lg">

        <dahab-place-availability-calendar [place]="this.currentPlace"></dahab-place-availability-calendar>

      </div>

    </div>
  </div>

</section>


<div class="fixed-bottom bg-white mat-elevation-z8  d-flex flex-wrap align-items-center justify-content-center py-3">

  <div *ngIf="this.showContact.checked"
       class="col-12 d-flex flex-wrap justify-content-center">
    <a href="mailo:{{this.currentPlace?.host?.email}}"
       class="m-0 p-2">
      <img class="social-icon mr-2 small-icon"
           src="assets/gmail.svg"
           alt="email logo">
      {{this.currentPlace?.host?.email}}
    </a>
    <a href="tel:+2{{this.currentPlace?.host?.mobile}}"
       class="m-0 p-2">
      <img class="social-icon mr-2 small-icon"
           src="assets/whatsapp.svg"
           alt="whatsapp logo">
      (+2){{this.currentPlace?.host?.mobile}}
    </a>
  </div>

  <div class="col-auto  bg-whit d-flex pl-0">
    <img class="mr-2 host-img"
         src="{{this.currentPlace?.host?.photoURL}}"
         alt="host profile picture">
    <div>
      <h4 class="m-0">{{this.currentPlace?.host?.displayName}}</h4>
      <div class="d-flex align-items-center">
        <mat-icon style="color: orange;">star</mat-icon> 4.6 <span class="text-muted ml-2">(13 reviews)</span>
      </div>
    </div>
  </div>

  <div class="col-auto my-2">
    <mat-button-toggle class="mr-2"
                       #showContact
                       value="true"
                       mat-button>
      <mat-icon>call</mat-icon>
      <span class="pl-2 d-none d-md-inline">Contact Info</span>
    </mat-button-toggle>
    <button (click)="openBookModal()"
            mat-raised-button
            color="accent">
      Book
    </button>
  </div>

</div>
