<div class="d-flex align-items-center">
  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <mat-icon class="logo" svgIcon="logo" aria-hidden="false" aria-label="Logo of Camel"></mat-icon>
      </div>
      <div class="flip-box-back">
        <mat-icon class="logo flip" svgIcon="logo" aria-hidden="false" aria-label="Logo of Camel"></mat-icon>
      </div>
    </div>
  </div>
  <h1 *ngIf="!this.hideText" class="mx-1 d-none d-md-block">Dahab Guide</h1>
</div>
