  <div class="flip-box"
       [style.height]="this.size"
       [style.width]="this.size">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <mat-icon class="w-100 h-100"
                  svgIcon="logo"
                  aria-hidden="false"
                  aria-label="Logo of Camel"></mat-icon>
      </div>
      <div class="flip-box-back">
        <mat-icon class="w-100 h-100"
                  svgIcon="logo"
                  aria-hidden="false"
                  aria-label="Logo of Camel"></mat-icon>
      </div>
    </div>
  </div>
