<mat-card (keypress)="openPlace()" (mouseover)="hover=true" (focus)="hover=true" tabindex="0" (blur)="hover=false"
  (mouseleave)="hover=false" [ngClass]="{'shadow': hover, 'shadow-none':!hover}"
  class="d-flex flex-column flex-md-row p-0  rounded" role="place short info">

  <ngb-carousel (keypress)="openPlace()" (focus)="hover=true" class="col-sm-12 col-md-6 col-lg-5  p-0" #carousel
    interval="4000000" pauseOnHover=true>
    <ng-template ngbSlide *ngFor="let img of photos; index as i">
      <img [src]="img" alt="Place image {{i + 1}} description" (click)="openPlace(i)">
    </ng-template>
  </ngb-carousel>


  <div tabindex="0" (focus)="hover=true" (blur)="hover=false" matRipple (click)="openPlace()" (keypress)="openPlace()"
    class="flex-grow-1 d-flex flex-column cursor-pointer pl-3 pt-2">
    <h6>{{this.placeTypeName}}</h6>
    <p class="text-muted h-auto mb-2">
      {{place.layout.bedrooms}} {{(place.layout.bedrooms> 1)? 'Bedrooms':'Bedroom'}} .
      {{place.layout.beds}} {{(place.layout.beds> 1)? 'Beds':'Bed'}} .
      {{place.layout.bathrooms}} {{(place.layout.bathrooms> 1)? 'Bathrooms':'Bathroom'}}
      {{place.layout.privateGarden? ' . Private Garden':null}}


    </p>
    <!-- <mat-list class="col-6 pr-0">
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>local_hotel</mat-icon>
        <h4 mat-line>
        </h4>
      </mat-list-item>

      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>single_bed</mat-icon>
        <h4 mat-line>
        </h4>
      </mat-list-item>
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>bathtub</mat-icon>
        <h4 mat-line>
        </h4>
      </mat-list-item>
    </mat-list> -->

  </div>
</mat-card>
