<mat-card class="d-flex flex-column flex-md-row p-0" role="place short info">

  <ngb-carousel class="col-sm-12 col-md-6 col-lg-5 ngb-carousel-height p-0" #carousel interval="4000000"
    pauseOnHover=true>
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <img class="img-fluid w-100" [src]="img" alt="Place image {{i + 1}} description">

    </ng-template>
  </ngb-carousel>


  <div matRipple (click)="openPlace()" (keypress)="openPlace()" class="flex-grow-1 d-flex cursor-pointer">
    <mat-list class="col-6 pr-0">
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>local_hotel</mat-icon>
        <h4 mat-line>
          {{place.layout.bedrooms}} {{(place.layout.bedrooms> 1)? 'Bedrooms':'Bedroom'}}
        </h4>
      </mat-list-item>

      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>single_bed</mat-icon>
        <h4 mat-line>
          {{place.layout.beds}} {{(place.layout.beds> 1)? 'Beds':'Bed'}}
        </h4>
      </mat-list-item>
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>bathtub</mat-icon>
        <h4 mat-line>
          {{place.layout.bathrooms}} {{(place.layout.bathrooms> 1)? 'Bathrooms':'Bathroom'}}
        </h4>
      </mat-list-item>
    </mat-list>

    <mat-list class="col-6 pl-0">
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>local_hotel</mat-icon>
        <h4 mat-line>
          {{place.layout.bedrooms}} {{(place.layout.bedrooms> 1)? 'Bedrooms':'Bedroom'}}
        </h4>
      </mat-list-item>

      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>single_bed</mat-icon>
        <h4 mat-line>
          {{place.layout.beds}} {{(place.layout.beds> 1)? 'Beds':'Bed'}}
        </h4>
      </mat-list-item>
      <mat-list-item class="text-muted h-auto mb-2">
        <mat-icon mat-list-icon>bathtub</mat-icon>
        <h4 mat-line>
          {{place.layout.bathrooms}} {{(place.layout.bathrooms> 1)? 'Bathrooms':'Bathroom'}}
        </h4>
      </mat-list-item>
    </mat-list>
  </div>
</mat-card>
