mat-list-item {
  font-size: 12px !important;

  .mat-list-item-content {
    padding: 0 !important;
  }

  .mat-list-text {
    padding: 0 !important;
  }


}

.small-text {
  font-size: 0.8rem;
}

.small-icon {
  font-size: 1.2rem;
}


ngb-carousel {
  height: 10rem;
  width: 10rem;

  img {
    object-fit: cover;
    height: -webkit-fill-available;
    width: 100%;
    cursor: pointer;
  }

}
